h1 {
  background-color: rgb(14, 78, 104);
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.navbar {
  background-color: rgb(14, 78, 104);
}

.btn {
  min-width: 150px;
  max-width: 150px;
  margin: 0 10px;
}

h2 {
  max-width: 400px;
  margin: 30px 0 30px 30px;
  padding-left: 15px;
  color: rgb(14, 78, 104);
  font-variant: small-caps;
  border-left: 5px solid rgb(14,78,104);
  border-bottom: 5px solid rgb(14,78,104);
  border-radius: 15px;
}

h3 {
  text-align: center;
  font-size: 130%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #894f3b;
}

p {
  margin: 10px;
}

.gomb {
  background-color: rgb(14, 78, 104);
  color: white;
}
.gomb:hover {
  border: 1px solid rgb(14, 78, 104);
  border-radius: 0.25rem;
}

.lablec {
  background-color: rgb(14, 78, 104);
}

.lablec a {
  margin: auto;
  line-height: 50px;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 15px;
}

header{
  width: 100;
}

.jedlik{
  color: white;
  font-weight: bold;
}
.jedlik:hover{
  color: red;
  text-decoration: none;
}

.table td{ 
  border: 2px dotted rgb(14, 78, 104) !important;
}

body{
  background-color: #d3f3ff;
  text-align: justify;
}